.d-flex {
    display: flex;
}
.d-g {
    display: grid;
    grid-template-columns: repeat(12, auto);
}
.container {
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, auto);
}

.item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    /* max-width: 100%; */
}
/*Mobile
    < 768px => max-width: 767px = 47.9375em
*/
@media (max-width: 767px) { 
    .col-1 {
        grid-column: span 1;
    }
    .col-2{ 
        /* max-width: 16.66667%; */
        grid-column: span 2;
    }
    .col-3{ 
        grid-column: span 3;
    }
    .col-4{ 
        grid-column: span 4;
    }
    .col-5{ 
        grid-column: span 5;
    }
    .col-6{ 
        grid-column: span 6;
    }
    .col-7{ 
        grid-column: span 7;
    }
    .col-8{ 
        grid-column: span 8;
    }
    .col-9{ 
        grid-column: span 9;
    }
    .col-10{ 
        grid-column: span 10;
    }
    .col-11{ 
        grid-column: span 11;
    }
    .col-12{ 
        grid-column: span 12;
    }
    .container {
        max-width: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 

    .col-sm-1 {
        grid-column: span 1;
    }
    .col-sm-2{ 
        grid-column: span 2;
    }
    .col-sm-3{ 
        grid-column: span 3;
    }
    .col-sm-4{ 
        grid-column: span 4;
    }
    .col-sm-5{ 
        grid-column: span 5;
    }
    .col-sm-6{ 
        grid-column: span 6;
    }
    .col-sm-7{ 
        grid-column: span 7;
    }
    .col-sm-8{ 
        grid-column: span 8;
    }
    .col-sm-9{ 
        grid-column: span 9;
    }
    .col-sm-10{ 
        grid-column: span 10;
    }
    .col-sm-11{ 
        grid-column: span 11;
    }
    .col-sm-12{ 
        grid-column: span 12;
    }
    .container {
        max-width: 750px;
    }
}
/*Small laptop*/
@media (min-width: 992px) and (max-width: 1200px) { 

    .col-md-1 {
        grid-column: span 1;
    }
    .col-md-2{ 
        grid-column: span 2;
    }
    .col-md-3{ 
        grid-column: span 3;
    }
    .col-md-4{ 
        grid-column: span 4;
    }
    .col-md-5{ 
        grid-column: span 5;
    }
    .col-md-6{ 
        grid-column: span 6;
    }
    .col-md-7{ 
        grid-column: span 7;
    }
    .col-md-8{ 
        grid-column: span 8;
    }
    .col-md-9{ 
        grid-column: span 9;
    }
    .col-md-10{ 
        grid-column: span 10;
    }
    .col-md-11{ 
        grid-column: span 11;
    }
    .col-md-12{ 
        grid-column: span 12;
    }
    .container {
        max-width: 970px;
    }
}

/*Laptop and PC*/

@media (min-width: 1200px){ 

    .col-lg-1 {
        grid-column: span 1;
    }
    .col-lg-2{ 
        grid-column: span 2;
    }
    .col-lg-3{ 
        grid-column: span 3;
    }
    .col-lg-4{ 
        grid-column: span 4;
    }
    .col-lg-5{ 
        grid-column: span 5;
    }
    .col-lg-6{ 
        grid-column: span 6;
    }
    .col-lg-7{ 
        grid-column: span 7;
    }
    .col-lg-8{ 
        grid-column: span 8;
    }
    .col-lg-9{ 
        grid-column: span 9;
    }
    .col-lg-10{ 
        grid-column: span 10;
    }
    .col-lg-11{ 
        grid-column: span 11;
    }
    .col-lg-12{ 
        grid-column: span 12;
    }
    .container {
        max-width: 1170px;
    }
}

/* .col-lg-12 {
    grid-template-columns: repeat(12, 1fr);
} */

.navbar {
    display: flex;
}

.row {
    grid-template-rows: repeat(2, auto);
}