$sm-bp: 576px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;
$xxl-bp: 1400px;

$map-min-width: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    fluid: 100%
);
$map-max-width: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
    fluid: 100%
);